# Secrets
.zsh_history
zsh/.zsh_history
.zsh_sessions
zsh/.zsh_sessions
.env
zsh/.env
*.zcompdump*
**/.env*
**/api_keys.*
zsh/*.zcompdump*
**/target/
**/Cargo.lock
lazygit
github-copilot

# System
.DS_Store
*.swp
