# Secrets
.zsh_history
zsh/.zsh_history
.zsh_sessions
zsh/.zsh_sessions
.env
*.env
.env.*
env
env/**
zsh/.env
*.zcompdump*
**/.env*
**/api_keys.*
zsh/*.zcompdump*
**/target/
**/Cargo.lock
lazygit
github-copilot
ssh
ssh/**
.ssh
.ssh/**
atac
atac/**
thefuck
thefuck/**
lazydocker
lazydocker/**
neofetch
neofetch/**


# System
.DS_Store
*.swp
